<table class="weather-table">
  <thead>
    <th>Year</th>
    <th>Month</th>
    <th>Min Temp (°C)</th>
    <th>Max Temp (°C)</th>
    <th>Total Rainfall (mm)</th>
    <th>Total Sunlight (hours)</th>
  </thead>
  <tbody>
    <ng-container *ngIf="historicWeatherData">
      <ng-container *ngFor="let year of historicWeatherData?.yearlySummaries">
        <tr *ngFor="let item of historicWeatherData?.groupedData?.[year?.year]">
          <td>{{ item.year }}</td>
          <td>{{ item.month }}</td>
          <td>{{ item.tempMinDegC }}</td>
          <td>{{ item.tempMaxDegC }}</td>
          <td>{{ item.rainMM }}</td>
          <td>{{ item.sunHours }}</td>
        </tr>
        <tr>
          <td colspan="2">**YEARLY AVG**</td>
          <td>**{{ year.avgMinTemp | number: '1.2-2' }}**</td>
          <td>**{{ year.avgMaxTemp | number: '1.2-2' }}**</td>
          <td>**{{ year.avgRain | number: '1.2-2' }}**</td>
          <td>**{{ year.avgSunHours | number: '1.2-2' }}**</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>