/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0px;
  font: 400 15px 'Calibri', 'Arial';

  * {
    box-sizing: border-box;
  }
}
